Por favor preencha o seguinte formulário:
<%= form_for @contact, html: { class: "form-horizontal center" }, url: { action: "precreate" } do |c| %>
<div class="form-group">
<%= c.label :name, 'Nome/Empresa:' %>
<%= c.text_field :name %>
</div>
<%= c.label :email, 'E-mail:' %>
<%= c.text_field :email %>
<%= c.label :phone, 'Telefone:' %>
<%= c.text_field :phone %>
<%= c.label :n_pax, 'N adultos:' %>
<%= c.text_field :n_pax %>
<%= c.label :n_ch, 'N crianças:' %>
<%= c.text_field :n_ch %>
<%= c.label :date, 'Data:' %>
<%= c.text_field :date %>
<%= c.label :localization, 'Local:' %>
<%= c.text_field :localization %>
<%= c.label :menu_id, 'Tipo de Evento:' %>
<%= c.select :menu_id, options_from_collection_for_select(@menu, 'id', 'name') , include_blank: true, :selected => params[:menu_id] %>
<% end %>



