<div class="form-all">

  <%= form_for @contact, html: { class: "form-horizontal center" }, url: { action: "precreate" } do |c| %>
<!--   <div class="title"><p>Preencha por favor os seguintes dados:</p></div> -->
  <div class="col-xs-12">
  <div class="form">
    <%= c.text_field :name, placeholder:"Nome/Empresa"%>
      </div >
        <div class="form">
    <%= c.text_field :email, placeholder:"Email" %>
     </div >
       <div class="form">
    <%= c.text_field :phone , placeholder:"Telefone" %>
    <%= c.text_field :localization, placeholder:"Local"  %>
    </div>
    <div class="form">
       <%= c.date_field :date, as: :date %>
    <%= c.text_field :n_pax, placeholder:"Adultos" %>
      <%= c.text_field :n_ch, placeholder:"Crianças" %>
       </div>
  <div class="form">
    <%= c.label :menu_id, ' seleccione o Tipo de Evento para continuar:' %>
    <%= c.select :menu_id, options_from_collection_for_select(@menus, 'id', 'name' , :selected => c.object.menu_id, :class =>"form-list") , include_blank: true%>
  </div >
  </div>
  <% end %>
</div>





