
<div class="form-all">
  <%= form_for @contact, html: { class: "form-horizontal center" }, url: { action: "precreate" } do |c| %>
  <div class="col-xs-12">
      <div class="title"><p>Preencha por favor os seguintes dados:</p></div>
    <div class="form">
      <% if params[:action] == "precreate" && @error_message.nil?%>
      <%= c.text_field :name, placeholder:"Nome/Empresa", readonly:"readonly" %>
      <% else %>
      <%= c.text_field :name, placeholder:"Nome/Empresa" %>
      <% end %>
      <% unless @contact.errors.first.nil? %>
      <% if @contact.errors.messages[:name].present? %>
      <span class="form-error"><%= @contact.errors.messages[:name].first %></span>
      <% end %>
      <% end %>
    </div >
    <div class="form">
      <% if params[:action] == "precreate"&& @error_message.nil? %>
      <%= c.text_field :email, placeholder:"Email", readonly:"readonly" %>
      <% else %>
      <%= c.text_field :email, placeholder:"Email"%>
      <% end %>
      <% unless @contact.errors.first.nil? %>
      <% if @contact.errors.messages[:email].present? %>
      <span class="form-error"><%= @contact.errors.messages[:email].first %></span>
      <% end %>
      <% end %>
    </div >
    <div class="form">
      <% if params[:action] == "precreate" && @error_message.nil?%>
      <%= c.text_field :phone , placeholder:"Telefone", readonly:"readonly" %>
      <% else %>
      <%= c.text_field :phone , placeholder:"Telefone" %>
      <% end %>
      <% unless @contact.errors.first.nil? %>
      <% if @contact.errors.messages[:phone].present? %>
      <span class="form-error"><%= @contact.errors.messages[:phone].first %></span>
      <% end %>
      <% end %>
      <% if params[:action] == "precreate"&& @error_message.nil? %>
      <%= c.text_field :localization, placeholder:"Local", readonly:"readonly"%>
      <% else %>
      <%= c.text_field :localization, placeholder:"Local"%>
      <% end %>
      <% unless @contact.errors.first.nil? %>
      <% if @contact.errors.messages[:localization].present? %>
      <span class="form-error"><%= @contact.errors.messages[:localization].first %></span>
      <% end %>
      <% end %>
    </div>
    <div class="form">
      <% if params[:action] == "precreate"&& @error_message.nil? %>
     <%= c.date_field :date, as: :date, readonly:"readonly"%>
    <% else %>
    <%= c.date_field :date, as: :date%>
    <% end %>
      <% unless @contact.errors.first.nil? %>
      <% if @contact.errors.messages[:date].present? %>
      <span class="form-error"><%= @contact.errors.messages[:date].first %></span>
      <% end %>
      <% end %>
      <% if params[:action] == "precreate" && @error_message.nil?%>
     <%= c.text_field :n_pax, placeholder:"Adultos", readonly:"readonly"%>
    <% else %>
     <%= c.text_field :n_pax, placeholder:"Adultos"%>
     <% end %>
      <% unless @contact.errors.first.nil? %>
      <% if @contact.errors.messages[:n_pax].present? %>
      <span class="form-error"><%= @contact.errors.messages[:n_pax].first %></span>
      <% end %>
      <% end %>
      <% if params[:action] == "precreate" && @error_message.nil? %>
     <%= c.text_field :n_ch, placeholder:"Crianças", readonly:"readonly" %>
     <% else %>
      <%= c.text_field :n_ch, placeholder:"Crianças" %>
      <% end %>
      <% unless @contact.errors.first.nil? %>
      <% if @contact.errors.messages[:n_ch].present? %>
      <span class="form-error"><%= @contact.errors.messages[:n_ch].first %></span>
      <% end %>
      <% end %>
   </div>
     <div class="form">
      <% if params[:action] == "precreate" && @error_message.nil? %>
      <%= c.text_field :menu, placeholder:"Tipo evento (Ex. Cocktail, Coffee Break, After Work ...)", readonly:"readonly"%>
      <% else %>
      <%= c.text_field :menu, placeholder:"Tipo evento (Ex. Cocktail, Coffee Break, After Work ...)"%>
      <% end %>
      <% unless @contact.errors.first.nil? %>
      <% if @contact.errors.messages[:menu].present? %>
      <span class="form-error"><%= @contact.errors.messages[:menu].first %></span>
      <% end %>
      <% end %>
   </div>

   <div class="form intro">
     <p>Extras:</p>
   </div>
    <div class="form-att">
      <div class="attribute">
        <% if params[:action] == "precreate" && @error_message.nil? %>
        <%= c.check_box :employee, disabled:"true" %>
        <% else %>
        <%= c.check_box :employee %>
        <% end %>
        <%= c.label :employee, "Pessoal p/ servir" %>
      </div>
      <div class="attribute">
        <% if params[:action] == "precreate" && @error_message.nil? %>
        <%= c.check_box :furniture, disabled:"true"   %>
        <% else %>
        <%= c.check_box :furniture %>
        <% end %>
        <%= c.label :furniture, "Mobiliário" %>
      </div>
      <div class="attribute">
        <% if params[:action] == "precreate" && @error_message.nil? %>
        <%= c.check_box :palament, disabled:"true"%>
        <% else %>
        <%= c.check_box :palament %>
        <% end %>
        <%= c.label :palament, "Palamenta" %>
      </div>
   </div>
   <div class="form-end">
   <!--  <select required="require" name="contact[menu_id]" id="contact_menu_id">
      <option disabled selected value="" >Tipo de Evento</option>
      <option value="27">Cocktail</option>
      <option value="28">Light Lunch</option>
      <option value="29">Coffee Break</option>
      <option value="30">After Work</option>
    </select> -->
    <% if params[:action] == "new" || params[:action] == "precreate" && !@error_message.nil? %>
    <%= c.submit value="Continuar", :class => "continuar", onclick:"ScrollDown(1)" %>
    <% end %>
  </div >
</div>
<% end %>
</div>


