<p>Formulário:</p>

<p>Nome/Empresa: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Telefone: <%= @contact.phone %></p>
<p>Data: <%= @contact.date %></p>
<p>Local: <%= @contact.localization %></p>
<p>Nº Adultos: <%= @contact.n_pax %></p>
<p>Nº Crianças: <%= @contact.n_ch %></p>
<p>Pessoal p/ Servir: <%= @contact.employee %></p>
<p>Mobiliário: <%= @contact.furniture %> </p>
<p>Palamenta: <%= @contact.palament %> </p>
<p>Tipo de Evento: <%= @contact.menu %> </p>
<p>Pratos Seleccionados:</p>
<% @contact.contact_dishes.each do |dish| %>
<div>
  <ul><%= dish.dish.name %></ul>
<% end %>
</div>

<p>Dados Adicionais: <%=@contact.comment %></p>

